[Unit]
Description=Amaru
After=network.target

[Service]
ExecStart=/home/pi/Documents/amaru-rpi/scripts/badge-per-epoch.sh
Restart=always
User=pi
WorkingDirectory=/home/pi/Documents/amaru-rpi/
EnvironmentFile=/home/pi/Documents/amaru-rpi/conf/amaru.env
Environment="PATH=/home/pi/Documents/amaru-rpi/:${PATH}"

[Install]
WantedBy=multi-user.target
